<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Angebotsinformation</h4>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" data-target="#overview">Übersicht</a></li>
        <li><a data-toggle="tab" data-target="#contact">Kontakt</a></li>
        <li><a data-toggle="tab" data-target="#date">Gültigkeit</a></li>
    </ul>

    <div class="tab-content">

        <div id="overview" class="tab-pane fade in active">
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Angebot:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        {{offer.shortDescription}}
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Firma:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        {{offer.companyName}}
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Angebotsart:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        {{offer.typeName}}
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Tätigkeit:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        {{offer.description}}
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Land:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        {{offer.countryName}}
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Postleitzahl:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        {{offer.zipCode}}
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Ort:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        {{offer.usageSite}}
                    </div>
                </div>
            </p>
        </div>

        <div id="contact" class="tab-pane fade">
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Ansprechpartner:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        {{offer.contactName}}
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>E-Mail:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        <a href="mailto:{{offer.contactEmail}}">{{offer.contactEmail}}</a>
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Telefon:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        <a href="tel:{{offer.contactPhone}}">{{offer.contactPhone}}</a>
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Fax:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        {{offer.contactFax}}
                    </div>
                </div>
            </p>
        </div>

        <div id="date" class="tab-pane fade">
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Eingestellt am:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        {{offer.dateAdded}}
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Gültig bis:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        {{offer.validDate}}
                    </div>
                </div>
            </p>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Schließen</button>
</div>