<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Angebotsinformation</h4>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#overview">Übersicht</a></li>
        <li><a data-toggle="tab" href="#contact">Kontakt</a></li>
        <li><a data-toggle="tab" href="#date">Gültigkeit</a></li>
    </ul>

    <div class="tab-content">

        <div id="overview" class="tab-pane fade in active">
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Angebot:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        Cloud based migration service development and operation (Java)
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Firma:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        Musterfirma
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Studiengänge:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        INFB<br>
                        INFM
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Tätigkeit:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Land:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        Germany
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Postleitzahl:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        76131
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Ort:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        Karlsruhe
                    </div>
                </div>
            </p>
        </div>

        <div id="contact" class="tab-pane fade">
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Ansprechpartner:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        Frau Silke Schindel
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>E-Mail:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        mail@mail.de
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Telefon:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        +4912345678
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Fax:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                    </div>
                </div>
            </p>
        </div>

        <div id="date" class="tab-pane fade">
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Eingestellt am:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        13.06.2016
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <b>Gültig bis:</b>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        30.09.2016
                    </div>
                </div>
            </p>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Schließen</button>
</div>