<div class="container app-container">

    <p><b>Markieren Sie Angebote, um diese auf Ihrem persönlichen Merkzettel zu speichern.</b></p>

    <div ng-repeat="offer in offers | orderBy: 'dateAdded':true">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" ng-model="offer.onNotepad" ng-change="toggleBookmark(offer)"><a ng-click="showOfferDetail(offer)">{{$index + 1}}) {{offer.shortDescription}}</a>
                    </label>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <b>Firma:</b> <a href="#">{{offer.companyName}}</a>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <b>Angebotsart:</b> {{offer.typeName}}
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <b>Standort:</b> {{offer.countryName}}
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <b>Eingestellt am:</b> {{offer.dateAdded}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
