<div class="container app-container">

    <p><b>Markieren Sie Angebote, um diese auf Ihrem persönlichen Merkzettel zu speichern.</b></p>

    <div id="offer-list-error-alert" class="alert alert-danger" role="alert" style="display: none">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Fehler beim Laden der Angebote. Versuchen Sie es noch einmal.
    </div>

    <div ng-repeat="offer in offers">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" ng-model="offer.onNotepad" ng-change="toggleBookmark(offer)"><a ng-click="showOfferDetail(offer)">{{$index + 1}}) {{offer.shortDescription}}</a>
                    </label>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <b>Firma:</b> <a ng-click="showCompanyDetail(offer)">{{offer.companyName}}</a>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <b>Angebotsart:</b> {{offer.typeName}}
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <b>Standort:</b> {{offer.countryName}}
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <b>Eingestellt am:</b> {{offer.dateAdded}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>
        <button id="btn-load-more" ng-if="isMobile()" ng-click="addOffersOnMobile()" type="submit" class="btn btn-default app-full-width">Mehr laden</button>
    </p>

</div>
